registry=http://artifact.zergx.svc.cluster.local/pkgs/npm/
//artifact.zergx.svc.cluster.local/pkgs/npm/:_authToken=npm-anonymous
@abc-protocol:registry=https://forgejo.develop.10.199.64.20.nip.io/api/packages/abc-protocol/npm/
